/* Default style for body */
html,
body {
  height: 100%; /* Ensure the body and html take up the full height */
  margin: 0;
  padding: 0;
}

body {
  font: 18px "Work Sans", sans-serif;
  background: linear-gradient(#809bce, transparent),
    linear-gradient(to top left, #ffafbd, transparent),
    linear-gradient(to top right, #c1dec8, transparent);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/* Media query for desktop devices */
@media only screen and (min-width: 769px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.header {
  padding: 20px;
  position: relative;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.content {
  padding: 20px;
  flex-grow: 1;
}
i.note {
  line-height: 0.2; /* Adjust line height as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%; /* Limit the maximum width of the note */
  word-wrap: break-word; /* Ensure the note wraps to the next line */
}
.section {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #476098;
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}

.footer {
  background: transparent; /* Set background to transparent */
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
  opacity: 1; /* Ensure full opacity for text */
}

.header img {
  position: absolute;
  top: calc(100% - 60px); /* Position the image slightly below the text */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header h1 {
  text-shadow: 4px 5px 4px #809bce; /* Adjust the shadow values as needed */
}

span {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
  border-radius: 6px;
  padding: 6px;
  font: 18px "Ubuntu Mono", sans-serif;
  margin-bottom: 10px;
}

span.installation {
  display: block;
}

span > img {
  /* make it all the way to the right */
  float: right;
  margin-right: 10px;
}

img.copy {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

h1 {
  color: #476098;
  font-weight: 800;
  font-size: 5em;
  width: 6em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.callout {
  color: #476098;
  background-image: linear-gradient(
    rgba(71, 96, 152, 1),
    rgba(71, 96, 152, 0.5)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

i,
p,
summary {
  text-align: center;
  padding: 1px;
}

p,
.section > i {
  color: #333;
}

ul {
  margin-left: 20%;
  transform: translateX(-15%);
  line-height: 2em;
  list-style-type: none;
}

.commands {
  border-collapse: collapse;
  width: 100%;
}

.commands td {
  padding: 8px;
  text-align: left;
}

.commands td:first-child {
  border-right: none; /* Remove right border for the first column */
}

.installation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.installation:hover {
  background: #c2c9d8;
}

.copy {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.copy:hover {
  transform: scale(1.2);
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999;
}

.commands {
  border-collapse: collapse;
  width: 70%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the table horizontally */
}

.commands td {
  padding: 8px;
  text-align: center; /* Center the content within each cell */
}
