/* Default style for body */
body {
  font: 18px "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* color: #2b2b2bef; */
  background: linear-gradient(#809bce, transparent),
    linear-gradient(to top left, #ffafbd, transparent),
    linear-gradient(to top right, #c1dec8, transparent);

  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}

/* Media query for desktop devices */
@media only screen and (min-width: 769px) {
  body {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.header {
  padding: 20px;
  position: relative;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.section {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #476098;

  font-size: 20px;
  margin-top: 0;
}

.section p {
  color: #333;
  line-height: 1.6;
}

.footer {
  background: transparent; /* Set background to transparent */
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
  opacity: 1; /* Ensure full opacity for text */
}

.header img {
  position: absolute;
  top: calc(100% - 60px); /* Position the image slightly below the text */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header h1 {
  text-shadow: 4px 5px 4px #809bce; /* Adjust the shadow values as needed */
}

span {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity as needed */
  border-radius: 6px;
  padding: 7px;
  font: 18px "Ubuntu Mono", sans-serif;
}

span.installation {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

span > img {
  /* make it all the way to the right */
  float: right;
  margin-right: 10px;
}

img.copy {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}

h1 {
  color: #476098;
  font-weight: 800;
  font-size: 5em;
  width: 6em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
}

.callout {
  color: #476098;
  background-image: linear-gradient(
    rgba(71, 96, 152, 1),
    rgba(71, 96, 152, 0.5)
  );

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
